{% extends 'main/layout.html' %}

{% block title %}
    Main page
{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            Main page
        </h1>
        <p>
            1337, L33T, L33T speak (leet — elite) — интернет-язык маленьких геймеров и хакеров годов 2000-ых. Абсолютно нечитабелен в устной речи, годится только для употребления письменном виде. Слово elite помогает почувствовать себя особенным. Об этом сообщает "Рамблер".
        </p>
        <button class="btn btn-warning">
            To page about us
        </button>
    </div>
{% endblock %}